@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    --rød: #da291c;
    --yellow: #ffd700;
    --blue: #006DB7;
    --green: #00AF4D;
    --white: #FFFFFF;
    --black: #000000;
    --rootsize: 20px;
    --maxwidth: 1200px;
}
body, html {
    margin: 0;
    padding: 0;
}
body {
        font-family: "Rubik", sans-serif;
        background-color: var(--yellow);
        background-image: url(website_images/mainbackground.png)
}
p{
    font-size: 1rem;
}
h1{
    margin: 0;
    padding: 0;
    max-width: 250px;
    a{
        display: inline-block;
        width: 100%;
        overflow: hidden;
    }
}
h2{
    font-size: 2.5rem;
    font-weight: 500;
}
h3{
    font-size: 1.5rem;
    font-weight: 600;
}
/* HOVEDOMRÅDET */
#container {
    width: 100%;
    max-width: var(--maxwidth);
    background-color: var(--white);
    margin: 0, auto;
}

header{
    padding: 1rem;
}